<div class="postContainer">
<div class="titlePage">
    <h1>Your Dashboard</h1>
</div>

<div class="postCover">
    <div class="postAction">
        <h1>Create a post Jim</h1>
    </div>
    <form id="postForm">
  <div>
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" id="postTitle">
        </div>
        <div>
            <label for="postBody">Blog Post Text</label>
            <textarea name="postBody" id="postBody" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btnSubmit"><i class=""></i> Create Post</button>
    </form>
</div>
</div>





<script src="/public/js/addPost.js"></script>