<div class="updateContainer" id="upate" >
    <div class="">
        <h3>Update your post:</h3>

        <form class="form editBaby">
        <div class="formTitleInfo">
            <label for="title">title:</label>
            <input class="inputBaby" type="text" id="title" name="title"></input>
        </div>
        <div class="middleForm">
            <label for="content">content:</label>
            <textarea class="content" id="content" name="content">{{content}}</textarea>
        </div>
        <div class="endForm">
            <button type="submit" class="btn buttonSub">Update</button>
        </div>
        </form>
    </div>
</div>

<script src="/public/js/editPost.js"></script>