  
<form class = "signup-form">
    <div>
        <p class="hidden" id="taken">That username is already taken! Try again.</p>
        <label for="user-signup">username:</label>
        <input type="text" id="user-signup" />
    </div>
    <div>
        <label for="signupPassword">password:</label>
        <input type="password" id="signupPassword" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="/login">Login Instead</a>
    </div>
</form>
<script src="/javascript/sign-up.js"></script>